<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/album.css}" rel="stylesheet">



    <!--
            jquery
    -->
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery-3.5.1.slim.min.js}"></script>

    <!--
            Angualrjs lib
    -->
    <script type="text/javascript" th:src="@{js/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{js/angular-cookies.min.js}"></script>
    <script type="text/javascript" th:src="@{js/angular-loader.min.js}"></script>
    <script type="text/javascript" th:src="@{js/angular-mocks.js}"></script>
    <script type="text/javascript" th:src="@{js/angular-resource.min.js}"></script>
    <script type="text/javascript" th:src="@{js/angular-route.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>




</head>
<body>

</body>
</html>