<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <meta charset="UTF-8">
  <!--
  <title th:text="@{page-title}"></title> -->
  <title>Demo WebSiteBuilder</title>


  <link th:href="@{/jquery/ui/jquery-ui.css}" rel="stylesheet" />

  <link th:href="@{/bootstrap4/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/bootstrap4/css/bootstrap-theme.min.css}" rel="stylesheet" />
  <script th:src="@{/bootstrap.min.js}"></script>

  <link th:href="@{/grapesjs/css/grapes.min.css}" rel="stylesheet" />
  <link th:href="@{/css/small-business.css}" rel="stylesheet" />


  <!--
  https://fontawesome.com
  -->
  <link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet" />



  <!--
        implement start-bootstrap
        startbootstrap.small-business lib starter template
  -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/vendor/bootstrap/css/bootstrap-grid.css}" rel="stylesheet" />
  <link th:href="@{/vendor/bootstrap/css/bootstrap-reboot.css}" rel="stylesheet" />

  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
  <script th:src="@{/grapesjs/bootstrap.bundle.min.js}"></script>
  <!--
  <script th:src="@{/vendor/jquery/jquery.js}"></script>
  -->

  <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/jquery/ui/jquery-ui.min.js}"></script>
  <script th:src="@{/grapesjs/grapes.min.js}"></script>
  <script th:src="@{/grapesjs/ajaxable.min.js}"></script>
  <script th:src="@{/grapesjs/grapesjs-html-block.js}"></script>
  <script th:src="@{/popper.min.js}"></script>

  <style>

    body,
    html
    {

      padding: 0;
      margin: 0;
      height: 100%;

    }
  </style>

</head>

<body>


<div class="container-fluid">



  <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li class="active">Editor</li>
  </ul>




  <div class="panel panel-primary draggable-panel toolbar-panel ui-draggable ui-resizable" id="toolbox-tools">
    <div class="panel-heading lang-panel-header-tools">ToolBar<i class="fa fa-times pull-right close-panel" id="close-toolbox-tools"></i><i class="fa pull-right fa-chevron-down" id="toggle-toolbox-tools"></i></div>

    <ul id="sortable" class="ui-sortable">
      <li class="btn-group draggable-group ui-state-default" id="group-file">
        <div class="btn-warning pull-left group-handle"><i class="fa fa-caret-down fa-1 toggle-button-group" data-toggle="tooltip" data-placement="bottom" title="Expand / Colapse"></i></div>

        <button class="btn btn-primary btn-md" id="btn_empty" data-toggle="tooltip" data-placement="bottom" title="Clear Screen" onclick="clearcanvas()"><i class="fa fa-trash" ></i></button>
        <button class="btn btn-primary btn-md" id="btn_svgOpen" data-toggle="tooltip" data-placement="bottom" title="Import Template"><i class="fa fa-upload"></i></button>

      </li>


      <li class="btn-group draggable-group ui-state-default" id="group-toggle-lanes">


      </li>


    </ul>


  </div>


  <div class="row">

    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          save Template Data to file
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" onclick="gethtmldata()">Header</a></li>
          <li><a class="dropdown-item" onclick="gethtmlcontentdata()">Content Body</a></li>
          <li><a class="dropdown-item" onclick="gethtmlfooterdata()">Footer</a></li>
        </ul>
      </div>

      <div id="messageinfo">
      </div>


      <script type="text/javascript">




        /**  HEADER
         *  post data to Rest Controller
         *  to save as file
         *  and store in database

         *
         */
        function gethtmldata()
        {
          var htmldata = localStorage.getItem("gjs-html");
          var cssdata = localStorage.getItem("gjs-css");


          $.ajax({
            type : "POST",
            url : "saveheaderdata",
            data : {
              gjshtml : localStorage.getItem('gjs-html'),
              gjscss : localStorage.getItem('gjs-css')
            }, // parameters
            success : function(result) {
              // alert('changed');
              console.log('sucess');
              $( "#messageinfo" ).html( "<strong>" + result + "</strong>" );
            }
          });

        }


        /**
         * CONTENT
         * post data to RestController
         * to save Content as file
         */
        function gethtmlcontentdata()
        {
          var htmldata = localStorage.getItem("gjs-html");
          var cssdata = localStorage.getItem("gjs-css");

          $.ajax({
            type : "POST",
            url : "savecontentdata",
            data : {
              gjshtml : localStorage.getItem('gjs-html'),
              gjscss : localStorage.getItem('gjs-css')
            }, // parameters
            success : function(result) {
              // alert('changed');
              console.log('sucess');
              $( "#messageinfo" ).html( "<strong>" + result + "</strong>" );
            }
          });

        }


        /**
         *  FOOTER
         *  post data to RestCotroller
         *  to save footer as file
         */
        function gethtmlfooterdata()
        {
          var htmldata = localStorage.getItem("gjs-html");
          var cssdata = localStorage.getItem("gjs-css");

          $.ajax({
            type : "POST",
            url : "savefooterdata",
            data : {
              gjshtml : localStorage.getItem('gjs-html'),
              gjscss : localStorage.getItem('gjs-css')
            }, // parameters
            success : function(result) {
              // alert('changed');
              console.log('sucess');
              $( "#messageinfo" ).html( "<strong>" + result + "</strong>" );
            }
          });

        }


        /**
         *
         *  refresh the editor canvas by
         *  button click
         */
        function clearcanvas()
        {
          editor.DomComponents.clear(); // Clear components
          editor.CssComposer.clear();  // Clear styles
          editor.UndoManager.clear(); // Clear undo history



          localStorage.setItem("gjs-html", "")
          localStorage.setItem("gjs-css", "");

          console.log('clear canvas');
        }

        function importhtmlandcss()
        {

          editor.setComponents(components);
          editor.setStyle(css);
        }


        function loadnavmenufromspringbootrest()
        {
          console.log('function is loaded');

          $(document).ready(function() {

            $.ajax({
              url: "getNavheaderdata"
            }).then(function(data) {
              $('#bzoom').append(data);
              console.log('das wurden abgerufen');
            });

          });
        }



      </script>

    </div>

    <div class="col-md-10">
      <div id="gjs" th:include="${defaultpage}">

      </div>
      <script type="text/javascript" th:inline="javascript">

        var editor = grapesjs.init
        ({
          height: '100%',
          fromElement: 1,
          clearOnRender: true,
          container: '#gjs',
          allowScripts: 1,
          canvas: {
            styles: [
                    '/bootstrap4/css/bootstrap.css',
                    '/bootstrap4/css/bootstrap-theme.min.css'
            ],
            scripts: [
                    '/jquery/jquery-3.5.1.min.js',
                    '/bootstrap.min.js',
                    '/grapesjs/bootstrap.bundle.min.js',
                    '/grapesjs/grapesjs-html-block.js'
            ],
          }

        });


        editor.BlockManager.add('Container',
            {
                category: 'Container',
                label: '<h1><i class="fa fa-bars"></i></h1> Container',
                content: '<!-- Container element -->' +
                    '<div class="container-fluid">' + '<div class="row">\n' +
                    '\t\t<div class="col-sm-12">row \n' +
                    '\t\t</div>\n' +
                    '\t</div>' +
                    '</div>' +
                    '',
            });




        editor.BlockManager.add('row-6-6',
            {
                category: 'Grid',
                label: '<h1><i class="fa fa-bars"></i></h1> 6-6',
                content: '<!-- row  6-6 -->' +
                    '<div class="row">\n' +
                    '\t\t\t\t<div class="col-sm-6">row \n' +
                    '\t\t\t\t</div>\n' +
                    '\t\t\t\t<div class="col-sm-6">row \n' +
                    '\t\t\t\t</div>\n' +
                    '\t</div>' +
                    '',
            });



        editor.BlockManager.add('row-4-4-4',
            {
                category: 'Grid',
                label: '<h1><i class="fa fa-bars"></i></h1> 4-4-4',
                content: '<!-- row 4-4-4 -->' +
                    '<div class="row">\n' +
                    '\t\t\t\t<div class="col-sm-4">row \n' +
                    '\t\t\t\t</div>\n' +
                    '\t\t\t\t<div class="col-sm-4">row \n' +
                    '\t\t\t\t</div>\n' +
                    '\t\t\t\t<div class="col-sm-4">row \n' +
                    '\t\t\t\t</div>\n' +
                    '\t</div>' +
                    '',
            });


        editor.BlockManager.add('row-1-12',
            {
                category: 'Grid',
                label: '<h1><i class="fa fa-bars"></i></h1> 1 - 12',
                content: '<!-- row 12 -->' +
                    '<div class="row">\n' +
                    '\t\t<div class="col-sm-12">row \n' +
                    '\t\t</div>\n' +
                    '\t</div>' +
                    '',
            });

        editor.BlockManager.add('row-3-9',
            {
                category: 'Grid',
                label: '<h1><i class="fa fa-bars"></i></h1> 3 - 9',
                content: '<!-- row 3 / 9 -->' +
                    '<div class="row">\n' +
                    '\t\t<div class="col-sm-3">row \n' +
                    '\t\t</div>\n' +
                    '\t\t<div class="col-sm-9">row \n' +
                    '\t\t</div>\n' +
                    '\t</div>' +
                    '',
            });



        editor.BlockManager.add('NavBar',
            {
                category: 'Header',
                label: '<h1><i class="fa fa-bars"></i></h1> MenuNavigation',
                content: '<!-- Navigation -->' +
                    '' +
                    '<nav id="navigationbootstrap" class="navbar navbar-expand-lg navbar-dark bg-dark">' +
                    '<div class="container">' +
                    '<a class="navbar-brand" href="#" th:text="${webtextcomp[0].de}"></a> <!-- Company Name -->' +
                    '<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">' +
                    '<span class="navbar-toggler-icon"></span>' +
                    '</button>' +
                    '<div class="collapse navbar-collapse" id="navbarResponsive">' +
                    '<ul class="navbar-nav ml-auto">' +
                    '<li class="nav-item active">' +
                    '<a class="nav-link" href="#" th:text="${webtextcomp[1].de}">  <!-- Home -->' +
                    '<span class="sr-only">(current)</span>' +
                    '</a>' +
                    '</li>' +
                    '<li class="nav-item">' +
                    '<a class="nav-link" href="/about" th:text="${webtextcomp[2].de}"></a>  <!-- about -->' +
                    '</li>' +
                    '<li class="nav-item">' +
                    '<a class="nav-link" href="/service" th:text="${webtextcomp[3].de}"></a>  <!-- Service -->' +
                    '</li>' +
                    '<li class="nav-item">' +
                    '<a class="nav-link" href="/contact" th:text="${webtextcomp[4].de}"></a>  <!-- Contact -->' +
                    '</li>' +
                    '<li class="nav-item">'+
                    '<a class="nav-link" href="/login" th:text="${webtextcomp[5].de}"></a>  <!-- Login -->' +
                    '</li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '</nav>' +
                    '',
            });

        editor.BlockManager.add('searchitems',
            {
                category: 'Header',
                label: '<h1><i class="fa fa-bars"></i></h1> textfield search',
                content: '<div class="row"></div><div class="row">' +
                    '<div class="col-sm-12">' +
                    '<form action="/searchProduct" method="POST"><div class="input-group mb-3">' +
                    '<input name="searchproduct" type="text" class="form-control" placeholder="search your item" aria-describedby="basic-addon2">' +
                    '<div class="input-group-append">' +
                    '<span class="input-group-text" id="basic-addon2">search</span>' +
                    '</div>' +
                    '</div></form>' +
                    '</div>',
            });


        editor.BlockManager.add('PrdocutList',
            {
                category: 'Content',
                label: '<h1><i class="fa fa-bars"></i></h1> ECommerceProdutList',
                content: '<div class="row">\n' +
                    '\t\t\t<div class="col-sm-12" th:each="product : ${productList}">\n' +
                    '\t\t\t\t<div class="card mt-12">\n' +
                    '\t\t\t\t<img th:src="${product.image}" class="card-img-top" alt="Product Image">\n' +
                    '\t\t\t\t\t<div class="card-body">\n' +
                    '\t\t\t\t\t\t<h5 th:text="${product.productName}" class="card-title"></h5>\n' +
                    '\t\t\t\t\t\t<p th:text="${product.productDescription}" class="card-text"></p>\n' +
                    '\t\t\t\t\t\t<p th:text="\'$ \'+${product.productPrice}" class="card-text"></p>\n' +
                    '\t\t\t\t\t\t<a href="#" th:href="@{\'~/profile/addToCart/\' + ${product.productId}}" class="btn btn-primary">AddToCart</a>\n' +
                    '\t\t\t\t\t</div>\n' +
                    '\t\t\t\t</div>\n' +
                    '\t\t\t</div>\n' +
                    '\t\t</div>',
            });



        editor.BlockManager.add('Footer1',
            {
                category: 'Footer',
                label: '<h1><i class="fa fa-bars"></i></h1> SmallFooter',
                content: '<!-- sticky footer -->\n' +
                    '<footer class="footer mt-auto py-3 bg-light">\n' +
                    '  <div class="container">\n' +
                    '    <span class="text-muted">Place sticky footer content here.</span>\n' +
                    '  </div>\n' +
                    '</footer>',
            });


        editor.BlockManager.add('Container',
            {
                category: 'Thymeleaf',
                label: '<h1><i class="fa fa-th fa-lg"></i></h1>Container ',
                content: '<div class="container-fluid">' +
                    '<div class="row">' +
                    '<div class="col-sm-6"><p>row1</p></div>' +
                    '<div class="col-sm-6"><p>row2</p></div>' +
                    '<div class="col-sm-6"><p>row1</p></div>' +
                    '<div class="col-sm-6"><p>row2</p></div>' +
                    '<div class="col-sm-6"><p>row1</p></div>' +
                    '<div class="col-sm-6"><p>row2</p></div>' +
                    '<div class="col-sm-6"><p>row1</p></div>' +
                    '<div class="col-sm-6"><p>row2</p></div>' +
                    '</div>' +
                    '</div>'
            });

        editor.BlockManager.add('TestMessage',
            {
                category: 'Thymeleaf',
                label: '<h1><i class="fa fa-th fa-lg"></i></h1> dynamic test',
                content: '<p>${message}</p>',

            });





        editor.getConfig().showDevices = false;
        window.editor = editor;
      </script>

      <div id="tablecrud">
          <table class="table table-striped">
          <thead>
          <tr>
            <th>id</th>
            <th>Framename</th>
            <th>German</th>
            <th>English</th>
            <th>French</th>
            <th>Spanish</th>
            <th>Italian</th>
            <th>Turkish</th>
            <th>bindto</th>
            <th>Template</th>
            <th>Title Template</th>
            <th>Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="webtextlayout : ${listtemplate}">
            <td th:text="${webtextlayout.id}">id</td>
            <td th:text="${webtextlayout.framename}">Framename</td>
            <td th:text="${webtextlayout.de}">German</td>
            <td th:text="${webtextlayout.en}">English</td>
            <td th:text="${webtextlayout.fr}">French</td>
            <td th:text="${webtextlayout.es}">Spanish</td>
            <td th:text="${webtextlayout.it}">Italian</td>
            <td th:text="${webtextlayout.tr}">Turkish</td>
            <td th:text="${webtextlayout.bindto}">bindto</td>
            <td th:text="${webtextlayout.template}">Template</td>
            <td th:text="${webtextlayout.titletemplate}">Title Template</td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:attrappend="data-target=${webtextlayout.id}">
                Edit
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" role="dialog" th:attrappend="id=${webtextlayout.id}" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="headertitle">Modal title</h5>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!--
                             <form action="#" th:action="@{/students/update/{id}(id=${student.id})}" th:object="${student}" method="post">
                      -->
                      <form action="#" th:action="@{/edit/crudlist}" method="post">

                        <div class="form-group col-md-12">

                          <label class="label label-default">ID
                            <input type="text"  th:value="${webtextlayout.id}" class="form-control" id="id" name="id" placeholder="id"/>
                          </label>

                          <label class="label label-default">Framename
                            <input type="text"  th:value="${webtextlayout.framename}" class="form-control" id="framename" name="framename" placeholder="Framename"/>
                          </label>

                          <label class="label label-default">de
                            <input type="text" th:value="${webtextlayout.de}" class="form-control" id="de" placeholder="de" name="de"/>
                          </label>

                          <label class="label label-default">en
                            <input type="text" th:value="${webtextlayout.en}" class="form-control" id="en" placeholder="en" name="en"/>
                          </label>

                          <label class="label label-default">fr
                            <input type="text" th:value="${webtextlayout.fr}" class="form-control" id="fr" placeholder="fr" name="fr"/>
                          </label>

                          <label class="label label-default">ESP
                            <input type="text" th:value="${webtextlayout.es}" class="form-control" id="es" placeholder="esp" name="es"/>
                          </label>

                          <label class="label label-default">it
                            <input type="text" th:value="${webtextlayout.it}" class="form-control" id="it" placeholder="it" name="it"/>
                          </label>

                          <label class="label label-default">tr
                            <input type="text" th:value="${webtextlayout.tr}" class="form-control" id="tr" placeholder="tr" name="tr"/>
                          </label>

                          <label class="label label-default">bindto
                            <input type="text" th:value="${webtextlayout.bindto}" class="form-control" id="bindto" placeholder="Framename" name="bindto"/>
                          </label>

                          <label class="label label-default">comp_name
                            <input type="text" th:value="${webtextlayout.comp_name}" class="form-control" id="comp_name" placeholder="Framename" name="comp_name"/>
                          </label>


                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </form>

                    </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>

</div>

</body>
</html>
